# Import

In [2]:
import numpy as np
import pandas as pd
import random
import re

# Library Bantuan
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')


# Library Sendiri
from libraryBantuan.katla import Katla

# Konstanta
PATH_FILE_TEXT = "D:\\Rama Nitip\\python\\katla\\file text\\"

# Baca Data

In [3]:
daftar_kata = list(pd.read_csv(PATH_FILE_TEXT + 'lima huruf katla.csv', header=None)[0])
print(f"Banyak Kata : {len(daftar_kata)}")

Banyak Kata : 8314

# Fungsi nebak

! = benar <br>
? = ada tapi salah tempat <br>
\* = tidak ada huruf tersebut

# Program Cari Kata Terbaik

In [4]:
katla = Katla(daftar_kata)
hasil = katla.cari_kata_selanjutnya(verbose=1)

100%|██████████| 8314/8314 [1:04:03<00:00,  2.16it/s]

In [9]:
df = pd.DataFrame({'kata':[x[0] for x in hasil],
                    'IG' :[x[1] for x in hasil],
                    'detail':[list(filter(lambda a: a[0] != 0, x[2])) for x in hasil]})
df['detail'] = df['detail'].apply(lambda x: sorted(x, key=lambda i: i[0], reverse=True))
df

       kata        IG                                             detail
0     sarit  0.023695  [(722, *?***), (678, *!***), (644, *****), (29...
1     paris  0.023575  [(797, *!***), (792, *?***), (760, *****), (31...
2     sarik  0.023454  [(652, *!***), (647, *?***), (539, *****), (27...
3     sirat  0.023214  [(832, ***!*), (644, *****), (568, ***?*), (29...
4     surat  0.023214  [(860, ***!*), (624, ***?*), (620, *****), (26...
...     ...       ...                                                ...
8309  agama -1.635194  [(3423, **?**), (3275, ?****), (3137, ****?), ...
8310  abaka -1.635434  [(2808, **?**), (2683, ?****), (2544, ****?), ...
8311  abaya -1.636517  [(3808, **?**), (3651, ?****), (3486, ****?), ...
8312  acara -1.637238  [(3165, **?**), (3017, ?****), (2928, ****?), ...
8313  acala -1.637840  [(3377, **?**), (3227, ?****), (3050, ****?), ...

[8314 rows x 3 columns]

In [10]:
df.to_csv(PATH_FILE_TEXT+ "kata terbaik information gain.csv", index=False)